{% extends 'base.html' %}
{% load static %}

{% block title %}Forgot Password{% endblock title %}

{% block css %}
<!-- CSS Style -->
<link rel="stylesheet" type="text/css" href="{% static 'css/internal.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/flexslider.css' %}">
{% endblock css %}

{% block bodyclass %}customer-account-forgotpassword inner-page{% endblock bodyclass %}
{% block divid %}page{% endblock divid %}

{% block content %}  
  <!-- Main Container -->
  <section class="main-container col1-layout bounceInUp animated">
    <div class="main container">
      <div class="col-main">
        <div class="account-login">
          <div class="page-title">
            <h1>Forgot Your Password?</h1>
          </div>
          <!--page-title-->
          <form action="#" method="post" id="form-validate">
            {% csrf_token %}
            <fieldset class="col2-set">
              <strong>Retrieve your password here</strong>
              <div class="content">
                <p>Please enter your email address below. You will receive a link to reset your password.</p>
                <ul class="form-list">
                  <li>
                    <label for="email_address">Email Address<em class="required">*</em></label>
                    <div class="input-box">
                      <input type="text" name="email" alt="email" id="email_address" class="input-text required-entry validate-email" value="">
                    </div>
                  </li>
                </ul>
              </div>
              <!--content-->
              
              <p class="required">* Required Fields</p>
              <button type="submit" title="Submit" class="button submit"><span>Submit</span></button>
              <a href="#"><small>« </small>Back to Login</a>
            </fieldset>
            <!--col2-set-->
          </form>
        </div>
      </div>
      <!--col-main--> 
    </div>
  </section>
  <!-- Main Container End --> 
  
{% include 'brand_logo.html' %}

{% endblock content %}
  

{% block js %}
<!-- JavaScript --> 
<script type="text/javascript" src="{% static 'js/parallax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.flexslider.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cloud-zoom.js' %}"></script>
{% endblock js %}