{% extends 'base.html' %}
{% load static %}

{% block title %}Superb premium HTML5 &amp; CSS3 template{% endblock title %}

{% block css %}
<!-- CSS Style -->
<link rel="stylesheet" type="text/css" href="{% static 'css/internal.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/flexslider.css' %}">
{% endblock css %}


{% block bodyclass %}customer-account-login inner-page{% endblock bodyclass %}
{% block divid %}page{% endblock divid %}

{% block content %}  
  <!-- Main Container -->
  <section class="main-container col1-layout bounceInUp animated">
    <div class="main container">
      <div class="account-login">
        <div class="page-title">
          <h1>Login or Create an Account</h1>
        </div>
        <fieldset class="col2-set">
          <legend>Login or Create an Account</legend>
          <div class="col-1 new-users"><strong>Registered Customers</strong>
            <div class="content">
              <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
              <div class="buttons-set">
                <a href="{% url 'accounts:login' %}">
                  <button class="button create-account"><span>Login</span></button>
                </a>
              </div>
            </div>
          </div>
          <div class="col-2 registered-users"><strong>New Customers</strong>
            <div class="content">
              <p>If you have an account with us, please log in.</p>
              <form method="post">
                {% csrf_token %}
              <ul class="form-list">
                <li>
                  <label for="name">First Name<span class="required">*</span></label>
                  <br>
                  <input type="text" title="" id="name" class="input-text" name="first_name">
                  <span style="color: red;">{{form.first_name.errors}}</span>
                </li>
                <li>
                  <label for="surname">Last Name<span class="required">*</span></label>
                  <br>
                  <input type="text" title="" id="surname" class="input-text" name="last_name">
                  <span style="color: red;">{{form.last_name.errors}}</span>
                </li>
                <li>
                  <label for="email">Email Address <span class="required">*</span></label>
                  <br>
                  <input type="text" title="" class="input-text" id="email" value="" name="email">
                  <span style="color: red;">{{form.email.errors}}</span>
                </li>
                <li>
                  <label for="pass">Password <span class="required">*</span></label>
                  <br>
                  <input type="password" title="" id="pass" class="input-text" name="password1">
                  <span style="color: red;">{{form.password1.errors}}</span>
                </li>
                <li>
                  <label for="pass2">Confirm password <span class="required">*</span></label>
                  <br>
                  <input type="password" title="" id="pass2" class="input-text" name="password2">
                  <span style="color: red;">{{form.password2.errors}}</span>
                </li>
              </ul>
              <p class="required">* Required Fields</p>
              <div class="buttons-set">
                <button id="send2" name="" type="submit" class="button login"><span>Register</span></button>
            </div>
            </form>
              
          </div>
        </fieldset>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </section>
  <!-- Main Container End --> 
  
{% include 'brand_logo.html' %}

{% endblock content %}
  
{% block js %}
<!-- JavaScript --> 
<script type="text/javascript" src="{% static 'js/parallax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.flexslider.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cloud-zoom.js' %}"></script>
{% endblock js %}
</body>
</html>