{% extends 'base.html' %}
{% load static %}


{% block title %}Superb premium HTML5 &amp; CSS3 template{% endblock title %}

{% block css %}
<!-- CSS Style -->
<link rel="stylesheet" type="text/css" href="{% static 'css/internal.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/flexslider.css' %}">
{% endblock css %}


{% block bodyclass %}contacts-index-index rtl inner-page{% endblock bodyclass %}
{% block divid %}page{% endblock divid %}
  
{% block content %}
  <!-- Main Container -->
  <section class="main-container col2-right-layout">
    <div class="main container">
      <div class="row">
        <section class="col-main col-sm-9">
          <div class="page-title">
            <h1>Contact Us</h1>
          </div>
          
          
          <form action="" method="POST">
            {% csrf_token %}
          <div class="static-contain">
            <fieldset class="group-select">
              <ul>
                <li id="billing-new-address-form">
                  <fieldset>
                    <legend>New Address</legend>
                    <input type="hidden"  id="billing:address_id">
                      
                    <ul>
                      <li>
                        <div class="customer-name">
                          <div class="input-box name-firstname">
                            <label for="billing:firstname"> First Name<span class="required">*</span></label>
                            <br>
                            <!-- <input type="text" id="billing:firstname" name="first_name" title="First Name" class="input-text "> -->
                            {{form.first_name}}
                            {{form.errors.first_name}}
                          </div>
                          <div class="input-box name-lastname">
                            <label for="billing:lastname"> Email Address <span class="required">*</span> </label>
                            <br>
                            <!-- <input type="text" id="billing:lastname" name="email" title="Last Name" class="input-text"> -->
                            {{form.email}}
                            {{form.errors.email}}
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="input-box">
                          <label for="billing:company">Company</label>
                          <br>
                          <!-- <input type="text" id="billing:company" name="company" title="Company" class="input-text"> -->
                          {{form.company}}
                          {{form.errors.company}} 
                        </div>
                        <div class="input-box">
                          <label for="billing:email">Telephone <span class="required">*</span></label>
                          <br>
                          <!-- <input type="text" name="telephone" id="billing:email" title="Email Address" class="input-text"> -->
                          {{form.telephone}}
                          {{form.errors.telephone}}
                        </div>
                      </li>
                      <li>
                        <label for="billing:street1">Address <span class="required">*</span></label>
                        <br>
                        <!-- <input type="text" title="Street Address" name="address" class="input-text"> -->
                        {{form.address}}
                        {{form.errors.address}}
                      </li>
                      <li class="">
                        <label for="comment">Comment<em class="required">*</em></label>
                        <br>
                        <div style="float:none" class="">
                          <!-- <textarea name="message" id="comment" title="Comment" class="input-text" cols="5" rows="3"></textarea> -->
                          {{form.message}}
                          {{form.errors.message}}
                        </div>
                      </li>
                    </ul>
                  </fieldset>
                </li>
                <span class="require"><em class="required">* </em>Required Fields</span>
                <div class="buttons-set">
                  <button type="submit" title="" class="button submit" value="Save"> <span> Submit </span> </button>
                </div>
              </ul>
            </fieldset>
          </div>
        </form>
        
        </section>
        <aside class="col-right sidebar col-sm-3">
          <div class="block block-company">
            <div class="block-title">Company </div>
            <div class="block-content">
              <ol id="recently-viewed-items">
                <li class="item odd"><a href="{% url 'about' %}">About Us</a></li>
                <li class="item last"><strong>Contact Us</strong></li>
              </ol>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
  <!-- Main Container End --> 
  
{% include 'brand_logo.html' %}

{% endblock content %}
  

</div>

{% block js %}
<!-- JavaScript --> 
<script type="text/javascript" src="{% static 'js/parallax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.flexslider.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cloud-zoom.js' %}"></script>
{% endblock js %}
